@import 'base/colores';
@import 'base/fuentes';
@import 'base/mixins';

$social: (
    instagram: 35px,
    youtube: 30px,
);

html {
    background-color: $negro;
    scroll-behavior: smooth;
    @include tipografíaBase($oswald, null, normal, $blanco, normal, null, null);
}

body {
    margin: 0;
    background: $negro;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(28, 28, 28, 1) 35%,
        rgba(24, 24, 24, 1) 100%
    );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $oswald;
}

.oswald {
    font-family: $oswald;
}

#haciaArriba {
    width: 50px;
    height: 45px;
    position: fixed;
    bottom: 4em;
    right: 3em;
    background-color: $cardColor;
    padding: 0.2em;
    border-radius: 8px;

    img {
        width: 100%;
        height: 100%;
    }
}

/**** Header ****/

nav {
    background-color: $negro;
    font-family: $oswald;
    font-size: 1.5rem;
    border-bottom: 1px solid $blanco;

    div.container-fluid {
        padding: 1rem 3rem 1rem 0;

        .logo {
            width: 18rem;
            padding-left: 1.5em;
            transition: all 0.3s ease-in-out;
        }

        div.navegacion {
            justify-content: flex-end;

            ul.navbar-nav {
                li.nav-item {
                    padding-left: 2rem;

                    .navButton {
                        color: $blanco;
                    }

                    .navButton:hover {
                        color: $rojo;
                    }
                }

                #subMenu {
                    position: relative;

                    ul.subMenu {
                        background-color: $negro;
                        color: $blanco;
                        font-size: 0.75em;
                        position: absolute;
                        display: none;
                        padding: 0 0 0.5rem 0;

                        li {
                            display: block;
                        }

                        a {
                            color: $blanco;
                            transition: all 0.1s ease-in-out;
                        }

                        a:hover {
                            background-color: rgb(31, 31, 31);
                            color: $rojo;
                        }
                    }
                }

                #subMenu:hover {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }
}

/**** Portada ****/

.banner {
    width: 100%;

    img {
        width: 100%;
    }
}

/**** Footer ****/

#footer {
    font-weight: bold;
    width: 100%;
    padding: 2em 5em 1em;
    color: $blanco;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $montserrat;
    background-color: $negro;
    border-top: 1px solid $blanco;
    align-items: center;

    div.social {
        display: flex;
        flex-direction: row;

        @each $red, $ancho in $social {
            .social--#{$red} {
                width: $ancho;
            }
        }

        .social--instagram {
            margin-top: -5px;
        }
    }

    a {
        color: $blanco;
        padding-right: 2em;
        text-decoration: none;
    }

    .twitter {
        margin-left: 6.5em;

        a {
            padding-right: 0;
        }

        a:hover {
            color: $rojo;
            text-decoration: underline;
        }
    }
}

/**** Inicio ****/

/** Inicio - Cards **/

.main {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;

    .mainTitle {
        font-size: 7rem;
        color: $rojo;
        text-transform: uppercase;
        text-align: center;
        padding-top: 1%;
    }

    .articles {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 2rem 0 2rem;

        .article {
            width: 20%;
            border-radius: 8px;
            background-color: $cardColor;
            transition: all 0.2s ease-in-out;

            a {
                text-decoration: none;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                .imgArticle {
                    width: 100%;
                    height: 65%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                h3 {
                    width: 75%;
                    padding: 1em 5% 0;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                    font-weight: normal;
                    color: $blanco;
                }

                .textoInfo {
                    width: 75%;
                    padding-left: 5%;
                    padding-right: 5%;
                    font-size: 1rem;
                    letter-spacing: 0.7px;
                    color: $amarillo;
                    font-weight: lighter;
                }
            }
        }

        .article:hover {
            transform: scale(1.05);
        }
    }
}

/** Inicio - Luca Not Dead **/

.lucaNotDead {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3em;
    font-family: $oswald;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    img {
        border-radius: 12px;
        width: 35em;
    }

    div {
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        color: $blanco;
        padding: 1em 2em 0.5em;
        background-color: rgba(77, 77, 77, 0.13);
        border-radius: 8px;
    }

    .añoLuca {
        font-size: 2.3rem;
        letter-spacing: 1px;
        margin-top: -0.5em;
    }

    .verMas {
        text-align: center;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 2.5em;

        a {
            text-decoration: none;
            color: $negro;
            background-color: $blanco;
            padding: 0.5rem 1.5rem 0.5rem;
            border-radius: 8px;
            transition: all 0.1s ease-in-out;
        }

        a:hover {
            color: $blanco;
            background-color: rgb(216, 0, 0);
            letter-spacing: 1px;
        }
    }

    .verMas:hover {
        transform: scale(1.1);
    }
}

/** Inicio - Videos **/

#videos {
    background-image: url(../img/bkground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    #tituloVideos {
        text-align: center;
        color: $rojo;
        font-size: 3rem;
        text-transform: uppercase;
        padding: 2em 0 1em;
    }

    .videos {
        width: 92%;
        margin: 0 4% 5em 4%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        div {
            background-color: $cardColor;
            width: 35%;
            margin: 2rem 0 2rem;
            border-radius: 8px;
        }

        iframe {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        p {
            padding: 1em 1em 0.5em;
            font-family: $oswald;
            color: $amarillo;
        }
    }
}

/**** Integrantes ****/

#integrantes {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5em;

    .tituloMiembros {
        padding-top: 1em;
        padding-left: 0.3em;
        text-transform: uppercase;
        font-size: 3em;
        color: $amarillo;
    }

    .miembros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        img {
            width: 23em;
            grid-area: foto;
        }

        div {
            display: grid;
            grid-template-areas:
                'nombre nombre'
                'foto  biografía'
                'foto  wikipedia';
            grid-template-rows: 0.1fr 1fr;
            grid-template-columns: 23em 1fr;
            padding: 3em 1em 5em;
            justify-content: center;
        }

        p {
            grid-area: biografía;
            font-family: $montserrat;
            text-align: left;
            line-height: 25px;
            padding: 0 2em 0;
            color: $blanco;
        }

        .nombre {
            grid-area: nombre;
            border-bottom: 1px solid $blanco;
            font-size: 2em;
            text-transform: uppercase;
            text-align: left;
            font-family: $oswald;
            margin-bottom: 2em;
            padding: 0 0 0.2em 0;
            letter-spacing: 1px;
            color: $amarillo;
        }

        .wikipedia {
            grid-area: wikipedia;
            justify-self: center;
            margin-top: -2em;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $blanco;
                background-color: $cardColor;
                width: 4.65em;
                height: 1em;
                padding: 0.5em 1em 0.5em;
                border-radius: 8px;
                transition: all 0.2s;
            }

            a:hover {
                color: $rojo;
            }
        }
    }
}

/**** Discografía ****/

#discografia {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;

    /** Discografía - Menú Discos **/

    .discMenu {
        padding-left: 2.5em;
        line-height: 30px;
        color: $blanco;

        .discTitle {
            font-size: 55px;
            text-transform: uppercase;
            color: $amarillo;
            padding-top: 0.5em;
        }

        #discos ul {
            list-style-type: square;
            font-size: 18px;
            list-style-position: outside;
            font-family: $montserrat;
        }

        a {
            color: $blanco;
            text-decoration: none;
        }

        #discos a:hover {
            color: rgb(143, 143, 143);
        }

        .menuPos {
            position: sticky;
            top: 0.5em;
        }
    }

    /** Discografía - Lista de Canciones **/

    #songLists {
        padding: 0 1em 1em 5em;
        color: $blanco;

        ul {
            list-style-type: none;
            list-style-position: outside;
            font-family: $montserrat;
            font-size: 16px;
            line-height: 30px;
        }

        .corpiños,
        .divididos,
        .monos,
        .after,
        .fiebre {
            padding-top: 3.5em;
        }

        .divididos {
            display: block;
            padding-left: 0;
            margin: 0;
        }

        .lado2 {
            padding-top: 0.5em;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 30px;
            color: $amarillo;
            font-family: $oswald;
        }

        a:hover {
            color: $rojo;
            text-decoration: underline;
        }
    }

    #portadas {
        padding-top: 3rem;

        div {
            img {
                width: 80%;
                padding: 5rem 2rem 4rem;
            }
        }
    }
}

/**** Historia ****/

#historia {
    font-family: $montserrat;
    padding: 1.5em;
    font-size: 16px;
    color: $blanco;
    letter-spacing: 0.8px;
    line-height: 25px;
    text-align: justify;

    @for $i from 1 through 2 {
        .titulos-#{$i} {
            font-size: 4rem / $i;
            color: $amarillo;
            text-transform: uppercase;
        }
    }

    .frase {
        display: block;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        @include tipografíaBase($mate, 1.3rem, normal, $rojo, null, null, null);
    }
}

/**** Contacto ****/

section.form {
    color: $blanco;
    padding: 2rem 0 4rem;

    h2 {
        text-transform: uppercase;
        color: $amarillo;
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        font-family: $montserrat;
        padding-top: 1rem;
    }

    .thankMessage {
        text-align: center;
        font-size: 1.75rem;
        padding-top: 0.5rem;
        color: $amarillo;
        font-family: $oswald;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    form {
        width: 80%;
        margin: 0 auto;

        .mensaje {
            padding-top: 1.5rem;

            span {
                align-items: flex-start;
            }
        }

        #gridCheck:checked {
            background-color: $rojo;
            border: none;
        }

        button {
            background-color: $blanco;
            color: $negro;
            border: none;
        }

        button:hover {
            background-color: $rojo;
            border: none;
        }
    }
}

/**** Productos ****/
section#tienda {
    #tituloTienda {
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5rem;
        color: $rojo;
        padding: 1em 0 1em;
    }

    .cartQty {
        width: 9rem;
        margin-top: 2.5rem;
        margin-left: 82%;
        background-color: $blanco;
        text-align: center;
        border-radius: 8px;
        border: 1px solid;
        transition: all 0.2s ease-in-out;

        a {
            text-decoration: none;
            @include tipografíaBase(
                $oswald,
                2rem,
                null,
                $negro,
                null,
                null,
                null
            );
        }
    }

    .cartQty:hover {
        transform: scale(1.1);
    }

    .col {
        padding: 1.3em;
    }

    .item {
        border-radius: 10px;
        background-color: $cardColor;
        color: $amarillo;
        font-size: 1rem;
        height: 27em;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $blanco;
            width: auto;
            height: 16em;
        }

        div.card-body {
            .card-text {
                margin-top: 0.7em;
            }

            #precioItem {
                margin-top: -0.5em;
            }

            .btnComprar {
                margin-left: 4.5em;
                background-color: $blanco;
                color: $negro;
                border: $negro;
            }
        }
    }
}

/**** Carrito ****/
#carrito {
    div.carrito {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 70%;
        margin: 0 auto;
        justify-content: space-around;

        .headerProductos {
            width: 100%;
            display: flex;
            text-align: left;
            border-bottom: 2px solid $blanco;
            margin: 0 auto;
            color: $amarillo;

            .tituloProducto {
                width: 47%;
                font-size: 1.5rem;
            }

            .precio {
                width: 15%;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
            }

            .cantidad {
                width: 25%;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
            }

            .total {
                width: 10%;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
            }
        }

        .carritoProductos {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .cartRow {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .producto {
                    width: 46%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0.5rem 0;
                    font-size: 1rem;

                    img {
                        width: 8rem;
                        margin: 0 0.5rem;
                    }

                    .delete {
                        width: 2rem;
                        cursor: pointer;
                        margin: 0 0.5rem;
                    }

                    span {
                        color: $blanco;
                        margin: 0 0.5rem;
                    }
                }

                .precio,
                .cantidad {
                    font-size: 1rem;
                    color: $blanco;
                    margin: 0 1rem;
                    width: 10%;

                    img {
                        width: 3rem;
                        cursor: pointer;
                        margin: 0 0.5rem;
                    }
                }

                .cantidad {
                    width: 20%;

                    .cantidadInput {
                        width: 3rem;
                        text-align: center;
                    }
                }

                .total {
                    font-size: 1rem;
                    color: $blanco;
                    margin: 0 0 0 5rem;
                }
            }

            .montoTotal {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 1rem 1rem;
                font-size: 10rem;
                color: $blanco;

                .totalTitulo {
                    width: 40%;
                    font-size: 2rem;
                }

                .totalCompra {
                    width: 15%;
                    font-size: 2rem;
                }
            }
        }
    }

    .cartQty {
        width: 9rem;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        background-color: $blanco;
        text-align: center;
        border-radius: 8px;
        border: 1px solid;
        transition: all 0.2s ease-in-out;

        a {
            text-decoration: none;
            @include tipografíaBase(
                $oswald,
                2rem,
                null,
                $negro,
                null,
                null,
                null
            );
        }
    }
}

/**** Laptop ****/

@media screen and (max-width: 1500px) {
    html {
        width: 100%;
        margin: 0;
    }

    /** Header **/
    nav {
        font-size: 1.2rem;
        height: 6rem;

        .logo {
            width: 10rem;
        }
    }

    /** Index **/
    section.main {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        .articles {
            display: flex;
            flex-flow: row wrap;
            grid-gap: 3rem;

            .article {
                width: 35%;

                img {
                    height: 15rem;
                }
            }
        }
    }

    .lucaNotDead {
        justify-content: space-between;

        div {
            padding: 2rem 1rem 0;
        }
    }

    #videos {
        div.videos {
            width: 96%;
            margin-right: 2%;
            margin-left: 2%;

            div {
                width: 40%;
            }
        }
    }

    /**Integrantes **/
    #integrantes {
        .tituloMiembros {
            text-align: left;
            padding: 2rem 0.3rem 0;
        }

        .miembros {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            div {
                display: grid;
                grid-template-areas:
                    'nombre nombre'
                    'foto foto'
                    'biografía biografía'
                    'wikipedia wikipedia';
                grid-template-rows: 0.1fr 1fr;
                grid-template-columns: 0.5fr 1fr;
                padding: 3rem 0.5rem 2rem;
                justify-content: center;

                img {
                    width: 100%;
                    padding: 0 6rem 1rem;
                    margin-top: -3rem;
                }

                .wikipedia {
                    margin-top: 1rem;
                }
            }
        }
    }

    /** Discografía **/
    #discografia {
        .discMenu {
            width: 20rem;

            .discTitle {
                font-size: 3rem;
            }
        }

        #portadas {
            padding-top: 10rem;
            div {
                img {
                    padding: 7rem 0 5rem;
                }
            }
        }
    }

    /** Productos **/
    #tienda {
        .productos {
            width: 90%;
            margin-left: 7%;
            margin-right: 3%;

            .item {
                margin: 0 3rem 0;
            }
        }
    }
}

/**** Tablet ****/

@media screen and (max-width: 1024px) {
    html {
        width: 100vw;
        margin: 0;
    }

    #haciaArriba {
        display: none;
    }

    /** Header **/
    nav {
        width: 100vw;
        height: auto;

        div.container-fluid {
            div.navegacion {
                ul.navbar-nav {
                    #subMenu:hover {
                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .banner {
        margin: 0;
    }

    /** Index **/
    section.main {
        .articles {
            display: grid;
            grid-template-rows: repeat(2, 40%);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3em;
            justify-items: center;

            .article {
                width: 95%;
                height: 22em;
                margin-bottom: 3em;
            }
        }
    }

    #videos {
        div.videos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;

            div {
                width: 80%;
            }
        }
    }

    .lucaNotDead {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding-top: 0;

        div {
            padding: 4rem 3rem 0;

            .verMas {
                font-size: 25px;
                font-weight: normal;
                padding-bottom: 0;
                margin: 0 5% 4em 5%;
            }
        }
    }

    /** Integrantes **/
    #integrantes {
        width: 90%;
        margin: 0 5% 0;

        .tituloMiembros {
            text-align: center;
        }

        .miembros {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;

            div {
                display: grid;
                grid-template-areas:
                    'nombre nombre'
                    'foto biografía'
                    'wikipedia wikipedia';
                grid-template-rows: 0.1fr 1fr;
                grid-template-columns: 0.5fr 1fr;
                padding: 3rem 0 2rem;
                justify-content: center;

                img {
                    margin: 0;
                    padding: 0 0 1rem;
                }

                p {
                    text-align: justify;
                    font-size: 1.2rem;
                }

                .wikipedia {
                    padding-top: 3rem;
                }
            }
        }
    }

    /** Discografia **/
    #discografia {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .discMenu {
            padding-left: 4rem;
            width: 20em;

            .menuPos {
                position: relative;
                padding: 0;
                top: 0;
            }
        }

        #portadas {
            display: none;
        }
    }

    /** Historia **/
    #historia {
        div.row {
            display: block;

            .titulos-1 {
                line-height: 5rem;
            }

            .titulos-2 {
                text-align: center;
                padding-top: 3rem;
            }

            div {
                width: 100%;

                img {
                    padding: 0 7rem 0;
                }
            }
        }
    }

    /** Productos **/
    section#tienda {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        .cartQty {
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        div.productos {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            padding: 0;
            margin: 0;

            div.col {
                padding: 0 0 3rem;
                margin: 0;

                div.item {
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }
    }

    /** Carrito **/
    section#carrito {
        .cartQty {
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    /** Contacto **/
    .form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }
}

/**** Mobile ****/

@media screen and (max-width: 600px) {
    html {
        width: 100vw;
        margin: 0;
    }

    #haciaArriba {
        display: none;
    }

    /** Nav **/
    nav {
        width: 100vw;

        div.container-fluid {
            .logo {
                width: 12rem;
            }
        }
    }

    .banner {
        display: none;
    }

    /** Footer **/
    #footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        text-align: center;

        div {
            padding-left: 2.5rem;
        }

        .twitter {
            margin: 0;
        }
    }

    /** Index **/
    section.main {
        .mainTitle {
            font-size: 5rem;
            margin-top: 1rem;
        }

        .articles {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2em;
            justify-items: center;

            .article {
                width: 80%;
                height: 22rem;
            }
        }
    }

    .lucaNotDead {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        img {
            width: 80%;
        }

        div {
            padding: 2.5rem 2rem 0;

            .añoLuca {
                font-size: 1.5rem;
            }

            .verMas {
                font-size: 1rem;
                padding: 0;
            }

            @include tipografíaBase(
                null,
                2rem,
                normal,
                $blanco,
                null,
                null,
                null
            );
        }
    }

    #videos {
        #tituloVideos {
            font-size: 2rem;
            margin: 0 0.5rem 0;
        }

        .videos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;

            div {
                width: 80%;
            }
        }
    }

    /** Integrantes **/
    #integrantes {
        width: 90%;
        margin: 0 5% 0;

        .tituloMiembros {
            text-align: center;
        }

        .miembros {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;

            div {
                display: grid;
                grid-template-areas:
                    'nombre nombre'
                    'foto foto'
                    'biografía biografía'
                    'wikipedia wikipedia';
                grid-template-rows: 0.1fr 1fr;
                grid-template-columns: 0.5fr 1fr;
                padding: 3rem 0 2rem;
                justify-content: center;

                img {
                    margin: 0;
                    padding: 0 0 1rem;
                }

                p {
                    text-align: justify;
                }

                .wikipedia {
                    padding-top: 3rem;
                }
            }
        }
    }

    /** Discografía **/
    #discografia {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        text-align: center;

        .discMenu {
            display: none;
        }

        #songLists {
            padding: 0 2rem 2rem 2rem;
            text-align: left;
        }
    }

    /** Historia **/
    #historia {
        div.row {
            display: block;

            .titulos-1 {
                line-height: 5rem;
            }

            .titulos-2 {
                text-align: center;
                padding-top: 3rem;
            }

            div {
                width: 100%;

                img {
                    padding: 0;
                }
            }
        }
    }

    /** Productos **/
    #tienda {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        #carouselExampleSlidesOnly {
            display: none;
        }

        div.productos {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            padding: 0;
            margin: 0;

            div.col {
                padding: 0 0 3rem;
                margin: 0;

                div.item {
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }
    }

    /** Contacto **/
    .form {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    /** Carrito **/
    #carrito {
        div.carrito {
            h2 {
                font-size: 3rem;
            }
            div {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
